#firstdiv{
    color: white;
    background-color: rgb(84,86,88);

}
#footer{
    width: 100%;
}
#footer p,#footer li{
    font-size: 12px;
    line-height: 20px;
}
#footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    
}

#footertop{
    width: 85%;
    margin: auto;
    padding: 3%;

    display: flex;
    justify-content: space-between;
}
#footer h3{
    margin-bottom: 5px;
}
#seconddiv{
    height: max-content;
        color: white;
        background-color: rgb(47,51,55);
}
#footerbottom{
    width: 80%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}