* {
    font-family: "Roboto", sans-serif;
  }
  
  body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #navigations a {
    text-decoration: none;
    color: black;
  }
  
  #navigations ul {
    display: flex;
   
  }
  
  #navigations {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
    background-color: white;
  }
  
  #navbarTop {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* padding: 0px 5%; */
    width: 80%;
    margin: auto;
  }
  
  #navbarTop img {
    width: 120%;
    cursor: pointer;
  }
  
  #navbarTop > div:first-child {
    display: flex;
    margin-left: 10px;
    width: fit-content;
    align-items: center;
    width: 8%;
    justify-content: flex-start;
    

   
  }
  #navbarTop > div:nth-child(2) {
    display: flex;
   width: 55%;
    justify-content: center;
    height: fit-content;
    align-items: center;
    

  }
  #navbarTop > ul:nth-child(3) {
    display: flex;
    width: 8%;
    gap: 10%;
    justify-content: flex-end;
    height: fit-content;
    align-items: center;
    

  }
  
  #navbarTop input[type="search"] {
    height: fit-content;
    font-size: 13px;
    margin: 0px;
    padding: 10px 2px 10px 16px;
    border: 1px solid #c5c6c9;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    font-weight: bold;
  }
  
  
  
  #navbarTop button {
    margin: 0px;
    background-color: rgb(72, 255, 0);
    color: white;
    height: 36px;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
  }
  
  #navigations ul i {
    font-size: 300%;
  }
  #navigations li{
      list-style: none;
  }
  #navbarBottom{
    box-sizing: border-box;
  }
  
  
  #navbarBottom ul {
    /* box-sizing: border-box; */
    width: 90vw;
    justify-content: space-between;
  }
  
  
  #navigations hr {
    margin: 0px;
    margin-bottom: 10px;
  }
  
  #navigations ul + hr {
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  #navigations .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 25px;
  }
  
  #navigations .dropdown-content > div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 3px;
    margin: 0px auto;
  }
  
  #navigations .dropdown-content a {
    font-weight: lighter;
  }
  
  #navigations .dropdown:hover .dropdown-content {
    display: flex;
  
    margin-top: 1px;
  }
  
  #navigations .dropdown:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  
  #navigations .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  #navigations h4 {
    margin: 5px 0px;
    font-weight: bold;
  }
  #navigations li.dropdown:last-child .dropdown-content,
  /* #navigations li.dropdown:nth-child(9) .dropdown-content, */
  #navigations li.dropdown:nth-child(10) .dropdown-content {
    right: 0;
    left: auto;
  }
  