* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

#navigations a {
  text-decoration: none;
  color: black;
}

#navigations ul {
  display: flex;
}

#navigations {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;
  background-color: white;
}

#navbarTop {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 80px; */
  /* padding: 0px 5%; */
  padding: 10px 0;
  width: 100%;
  gap: 40px;
  margin: auto;
}

#navbarTop img {
  width: 100%;
  cursor: pointer;
}

#navbarTop > div:first-child {
  display: flex;
  margin-left: 10px;
  width: fit-content;
  align-items: center;
  width: 10%;
  /* justify-content: flex-start; */
}
#navbarTop > div:nth-child(2) {
  display: flex;
  width: 60%;
  /* height: 40px; */
  overflow: hidden;
  align-items: center;
  border: 1px solid gray;
  justify-content: center;
  border-radius: 5px;
}
#navbarTop input[type="search"] {
  font-size: 13px;
  padding: 10px;
  /* border: 1px solid #c5c6c9; */
  border: none;
  /* width: 80%;
   */
  flex-grow: 1;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}

#navbarTop button {
  font-size: 13px;
  background-color: #ff1f2c;
  color: white;
  padding: 10px 10px;
  width: 60px;
  border: none;
  /* border-radius: 0px 5px 5px 0px; */
}
#navbarTop > ul:nth-child(3) {
  display: flex;
  gap: 15px;
  align-items: center;
}

#navigations ul i {
  font-size: 25px;
}

#navigations ul li p {
  font-size: 12px;
  letter-spacing: 1.5px;
}
#navigations ul li:last-child p {
  padding-left: 2px;
}
#navigations li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  list-style: none;
  cursor: pointer;
}
#navbarBottom {
  box-sizing: border-box;
  margin: auto;
}

#navbarBottom ul {
  /* box-sizing: border-box; */
  width: 90vw;
  margin: auto;
  justify-content: space-between;
}

#navigations hr {
  margin: 0px;
  margin-bottom: 10px;
}

#navigations ul + hr {
  margin-bottom: 0px;
  margin-top: 10px;
}

#navigations .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 25px;
}

#navigations .dropdown-content > div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 3px;
  margin: 0px auto;
}

#navigations .dropdown-content a {
  font-weight: lighter;
}

#navigations .dropdown:hover .dropdown-content {
  display: flex;

  margin-top: 1px;
}

#navigations .dropdown:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#navigations .dropdown-content a:hover {
  background-color: #ddd;
}

#navigations h4 {
  margin: 5px 0px;
  font-weight: bold;
}
#navigations li.dropdown:last-child .dropdown-content,
#navigations li.dropdown:nth-child(10) .dropdown-content {
  right: 0;
  left: auto;
}
