* {
    box-sizing: border-box;
  }
  
  #between{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
#option *{
border: none;
}
#betleft{
    border: 1px solid rgb(194, 191, 191);
    width: 22%;
    margin-left: 30px;
    padding: 20px;
    cursor: pointer;
}
#betright{
    width: 76%;
}
#betright1{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 21px;
padding: 40px;
padding-top: 0px;

}
.checked {
    color: orange;
  }
#betright2{
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

#betright2>*{
    margin: 20px;
    margin-left: 0px;
    border: 1px solid rgb(198, 198, 198);
    display: flex;
}
#betright2>div>div{
    padding: 21px;
    padding-right: 180px;
}

.singleProduct{
    color: rgb(56, 55, 55);
    width: 100%;
    position: relative;
    cursor: pointer;
   display: flex;
   padding: 0px;
   margin: 0px;
   flex-direction: column;
   border: 1px solid rgb(142, 140, 140);
}
.singleProduct>b,.singleProduct>p,.singleProduct>i,.singleProduct>div{
   padding: 13px;
    /* width: 67%; */
}

.singleProduct i{
    /* z-index: 2; */
    top: 10px;
    right: 10px;
}
.imgPro{
    width: 100%;
}

#betleft *{
    display: flex;
    margin: 10px;
}
#betleft>i{

justify-content: flex-end;
}
#flexbottom{
    margin-top: 20px;
    display: flex;
}
#flexbottom>div{
    display: flex;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 17px;
    padding: 4px 27px;
    margin: 8px;
}
#betright3>h3{
margin-top: 50px;
}
.noborder{
    border: none;
    color: rgb(90, 90, 90);
}
#flexbottom p{
    font-size: 14px;
    color: rgb(90, 90, 90);
}
#top>*{
    margin: 14px;
}
#top{
    margin: 30px;
}
.gray{
    color: rgb(95, 93, 93);
}
.small{
    font-size: 15px;
    width: 70%;
}
.centre{
    margin: 25px;
    margin-top: 80px;
display: flex;
justify-content: center;
}
#betright4{
    display: flex;
    padding: 1%;
}
#betright4>div{
    margin: 3%;
    display: flex;
    width: 25%;
    padding: 1%;
}
#betright4>div>img{
    margin: 4%;
}
#exp{
    margin: 30px;
    padding: 20px;
    font-size: 30px;
}
#fa-solid{
    position: absolute;
    top: 1%;
    color: gray;
    font-size: 20px;
   
}
.div2{
    display: flex;
    justify-content: space-between;
}