* {
    box-sizing: border-box;
  }
  
  #between{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
}
#betleft{
    border: 1px solid rgb(194, 191, 191);
    width: 25%;
    /* margin: 20px; */
    padding: 20px;
    cursor: pointer;
}
#betright{
    width: 65%;
}
#betright1{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 21px;
padding: 40px;

}
.checked {
    color: orange;
  }
#betright2{
    display: flex;
    margin: 10px;
    padding: 10px;
    margin-left: 0px;
    padding-left: 0px;
}

#betright2>*{
    margin: 20px;
    margin-left: 0px;
    border: 1px solid rgb(198, 198, 198);
    display: flex;
}
#betright2>div>div{
    padding: 21px;
    padding-right: 180px;
}

.singleProduct{
    width: 100%;
    position: relative;
    cursor: pointer;
   display: flex;
   padding: 0px;
   margin: 0px;
   flex-direction: column;
   border: 1px solid rgb(142, 140, 140);
}
.singleProduct>b,.singleProduct>p{
   padding: 13px;
    /* width: 67%; */
}
.singleProduct i{
    z-index: 2;
    top: 10px;
    right: 10px;
}
.imgPro{
    width: 100%;
}



#betleft *{
    display: flex;
    margin: 10px;
}
#betleft>i{

justify-content: flex-end;
}
#flexbottom{
    
    display: flex;
}
#flexbottom>div{
    display: flex;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 17px;
    padding: 4px 27px;
    margin: 8px;
}
.noborder{
    border: none;
    color: rgb(90, 90, 90);
}
#flexbottom p{

    font-size: 14px;
    color: rgb(90, 90, 90);
}
#top>*{
    margin: 14px;
}
#top{
    margin: 20px;
}
.gray{
    color: rgb(95, 93, 93);
}
.small{
    font-size: 13px;
}
.centre{
    margin: 25px;
display: flex;
justify-content: center;
}
#betright4{
    display: flex;
    padding: 1%;
}
#betright4>div{
    margin: 3%;
    display: flex;
    width: 25%;
    padding: 1%;
}
#exp{
    margin: 30px;
    padding: 20px;
    font-size: 30px;
}
.fa-light{
    position: absolute;
    top: 10%;
    color
}
